@import 'media.scss';
@import 'header.scss';
@import 'hamburger.scss';
@import 'main.scss';
@import 'select.scss';
@import 'overlay.scss';
@import "filter.scss";
@import 'countProduct.scss';
@import "product.scss";
@import "cartModal.scss";

:root {
  --black: #000000;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.hide-mobile {
  display: block;
}

.show-mobile {
  display: none;
}

.filter-modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 2;
}

@import 'media.scss';