@use 'header.scss';
@use 'hamburger.scss';
@use 'main.scss';
@use 'select.scss';
@use 'overlay.scss';
@use "filter.scss";
@use 'countProduct.scss';
@use "product.scss";
@use "cartModal.scss";
@use "mainSliderSort.scss";
@use 'media.scss';

:root {
  --black: #000000;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}